.modal-wrapper > div#modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}
#map-modal-top {
  background-color: white;
  padding: 10px;
}

#map-modal-content {
  display: flex;
  height: 100%;
  background-color: white;
  overflow: scroll;
}

#map-modal-content > div:first-child {
  flex: 0 0 auto;
  padding: 10px;
}

#map-modal-content > div:last-child {
  flex: 1 0 auto;
}

label.display-block {
  display: block;
  padding: 5px 0;
}

.criteria-modal-zone {
  display: flex;
  align-items: stretch;
  margin: 10px 0;
}

.criteria-modal-zone > div:first-child {
  flex: 0 0 auto;
}

.criteria-modal-zone > div:last-child.leaflet-container {
  flex: 1 0 0;
}
